main {
	text-align: center;
	display: inline-block;
	max-width: 800px;
	font-size: 0;
}

.inne_one{
	height: 200px;
	width: 50%;
	font-size: 0;
}

.inne_two{
	height: 300px;
	width: 33.33%;
	font-size: 0;
}

.inner_one{
	border: 1px black;
	background-color: green;
}

.inner_two{
	border: 1px black;
	background-color: blue;
}

.inner_three{
	border: 1px black;
	background-color: grey;
}

.inner_four{
	border: 1px black;
	background-color: black;
}

.inner_five{
	border: 1px black;
	background-color: yellow;
}